
* {
    box-sizing: border-box; 
}

body {
    text-align: center;
    font-family: 'Arial';
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
    margin: 6px;
}

.bookmark-descr {
    display: block;
}

.hidden {
    display: none;
}

